.four-oh-four {
  margin-top: 6em;
}

.four-oh-four-title {
  text-align: center;
}

.four-oh-four-body {
  text-align: center;
}

.four-oh-four-button {
  display: block;
  font-size: 1em;
  margin: 2em auto;
  text-align: center;
  width: 330px;
  max-width: 100%;

  @include respond-to(small) {
    margin-top: 3em;
  }
}