.footer {
  padding: 2.3em 0 2em;
  font-size: var(--font-size-body);
  background-color: var(--background-accent);

  .icon-heart {
    font-size: 0.9em;
    margin-left: 0.15em;
    margin-right: 0.15em;
    fill: var(--text-color);
  }
}

.footer-msg {
  .icon-heart {
    display: inline-block;
    vertical-align: text-bottom;
    margin-bottom: 2px;
    min-width: 15px;
  }
}
