.footer {
  padding: 2.3em 0 2em;
  background: $color-footer;
  background: #f5f5f5;
  color: #444;
  font-size: $font-size-body;

  .icon-heart {
    font-size: 0.9em;
    margin-left: 0.15em;
    margin-right: 0.15em;
  }
}

.footer-msg {
  display: none;
  @include respond-to(380px) {
    display: block;
    float: left;
  }

  .icon-heart {
    display: inline-block;
    vertical-align: text-bottom;
    margin-bottom: 2px;
    min-width: 15px;
  }
}

.footer-social {
  text-align: center;

  @include respond-to(380px) {
    float: right;
  }

  a {
    color: #666;
  }
}
