img {
  vertical-align: middle;
}

img:not([src]) {
  display: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.img-sm,
.figcaption-sm {
  width: 320px;
  max-width: 100%;
}

.img-md,
.figcaption-md {
  width: 500px;
  max-width: 100%;
}

.figcaption-sm,
.figcaption-md {
  margin: 0 auto;
  margin-top: -1.3em;
}

.img-wrap {
  $img-zoom-bp: 880px;
  $img-transition: 100ms ease;
  position: relative;
  width: 100%;
  transition: width $img-transition, margin-left $img-transition;

  // make images go slightly outside container on large screens
  @include respond-to(large) {
    width: 110%;
    margin-left: -5%;
  }

  &--expanded {
    @include respond-to($img-zoom-bp) {
      width: 120%;
      margin-left: -10%;
    }

    @include respond-to(medium) {
      width: 140%;
      margin-left: -20%;
    }

    @include respond-to(1100px) {
      width: 160%;
      margin-left: -30%;
    }

    @include respond-to(large) {
      width: 180%;
      margin-left: -40%;
    }
  }

  .icon-expand-contract {
    display: none;
    bottom: 2rem;
    right: 2rem;
    position: absolute;
    fill: #fff;
    font-size: 1.5em;

    @include respond-to($img-zoom-bp) {
      display: block;
    }
  }
}
