img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.img-sm, .figcaption-sm {
  width: 320px;
  max-width: 100%;
}

.img-md, .figcaption-md {
  width: 500px;
  max-width: 100%;
}

.figcaption-sm, .figcaption-md {
  margin: 0 auto;
  margin-top: -1.3em;
}