.text-container {
  max-width: 50em;
}

.text-container-narrow {
  max-width: 40em;
}

.archive {
  opacity: 0.4;
}

// ensure footer is at least at bottom of page
.body-content-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// flex: 1 ensures content stretches to fill the room it needs
.page-body {
  margin-top: 2em;
  margin-bottom: 2em;
  flex: 1;
}

footer {
  width: 100%;
}