$nav-transition-duration: 100ms;

.nav {
  min-height: 4em;
  background: rgba(255, 255, 255, 0.96);
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  //box-shadow: 0 0px 8px rgba(100,100,100, 0.1)
  //border-bottom: 1px solid #eee;
}

.nav-title {
  display: inline-block;
  text-transform: uppercase;
  color: $text-color;
  margin-top: 1.4em;
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }
}

.nav-links {
  list-style-type: none;
}

.nav-link {
  display: inline-block;
}

.nav-link > a {
  border-bottom: 2px solid transparent;
  color: $text-color;
  font-size: 1.1em;
  transition: border-bottom-color 100ms linear;

  &.link-primary {
    color: $color-primary;
  }

  &:hover {
    text-decoration: none;
  }
}

.nav-link > .separator {
  display: none;
}

.nav-mobile-menu-toggle {
  background: none;
  border: none;
  float: right;
  font-size: 1.6em;
  margin-top: 0.55em;
  margin-right: 0.2em;

  .icon-close {
    display: none;
    font-size: 1.2em;
  }

  .icon-menu {
    vertical-align: baseline;
    margin: 0.1em 0.1em 0 0;
  }
}

.nav-links {
  display: block;
  float: right;
  margin-top: 1.25em;
}

.nav-mobile-menu-toggle {
  display: none;
}

.nav-link > a {
  margin-left: 3em;
}

.nav-link > .separator {
  display: block;
  margin-left: 2em;
  margin-right: -1em;
  color: #ddd;
  border-right: 2px solid #ddd;
  line-height: 1;
  margin-top: 0.1em;
  width: 2px;
}
