.nav {
  //@include animate(fadeIn, 0.2s, 0);
  min-height: 4em;
  background: rgba(255,255,255,0.96);
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  //box-shadow: 0 0px 8px rgba(100,100,100, 0.1)
  //border-bottom: 1px solid #eee;
}

.nav-title {
  float: left;
  display: inline-block;
  text-transform: uppercase;
  color: $text-color;
  margin-top: 1.2em;
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }
}

.nav-links {
  list-style-type: none;
}

.nav-link {
  display: inline-block;
}

.nav-link > a {
  font-size: 0.9em;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  color: $text-color;
  transition: border-bottom-color 200ms linear;

  &.link-primary {
    color: $color-primary;
  }

  &:hover {
    text-decoration: none;
  }
}

.nav-link > .separator {
  display: none;
}

.nav-mobile-menu-toggle {
  float: right;
  font-size: 1.6em;
  margin-top: 0.75em;
  margin-right: 0.2em;
  cursor: pointer;

  .icon-close {
    display: none;
    font-size: 1.2em;
    margin-top: -0.1em;
  }

  .icon-menu {
    vertical-align: baseline;
  }
}

@include respond-to(0, medium) {
  .nav-links {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    overflow: scroll;
    top: 42px;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 4em;
    padding-left: 0;
    padding-bottom: 4em;
    background: rgba(#fff, 0.97);
  }

  .nav-link {
    display: block;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2.5em;
  }

  nav.open {
    .nav-mobile-menu-toggle {
      .icon-close { display: block; }
      .icon-menu { display: none; }
    }

    .nav-links {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.4s, visibility 0.4s;
    }
  }

  // closing transition
  // add transition here too so transition happens when closing
  // we don't want transition on .nav .nav-links because then blips when resizing browser
  .nav.closed .nav-links {
    transition: opacity 0.2s, visibility 0.2s;
  }

}

// tighten things up a bit on really small devices
@include respond-to(0, 500px) {
  .nav-links {
    padding-top: 3em;
  }

  .nav-link {
    margin-bottom: 1.5em;
  }
}



// nav opened
@include respond-to(medium) {
  .nav-links {
    display: block;
    float: right;
    margin-top: 1.25em;
  }

  .nav-mobile-menu-toggle {
    display: none;
  }

  .nav-link > a {
    margin-left: 3em;
  }

  .nav-link > .separator {
    display: block;
    margin-left: 2em;
    margin-right: -1em;
    color: #ddd;
    border-right: 2px solid #ddd;
    line-height: 1;
    margin-top: 0.1em;
    width: 2px;
  }
}
