.posts-listing__category-header {
  margin: 1.3em 0 0em;
}

.posts-listing__updated-at {
  color: var(--text-color-muted);
  font-family: $font-heading;
  font-size: var(--font-size-body-sm);
}

.posts-listing__ul {
  padding-left: 1.1em;
}

.posts-listing__title {
  color: var(--text-color);
  line-height: 1.6;
  position: relative;
  text-decoration: none;
  z-index: 1;

  &:hover {
    color: var(--link-color-hover);
  }
}

.posts-listing__title--with-domain {
  margin-right: 0.3em;
}

.posts-listing__domain {
  font-size: 0.8em;
  color: var(--text-color-muted);
}
