// excerpt shown on post listings
.post-excerpt {
  margin-bottom: 3.5em;
  // padding-bottom: 3em;
  // border-bottom: 1px solid #f5f5f5;
}

.post-excerpt-photo {
  width: 100%;
}

.post-excerpt-title {
  font-weight: 600;
  font-size: 1.65em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;

  a {
    color: $text-color;
  }
}

.post-excerpt-body {
  font-size: 1.0625em;
  font-family: $font-primary;
  margin-bottom: 1rem;

  p {
    margin-bottom: 1rem;
  }
}

.post-excerpt-metadata {
  font-size: 0.875em;

  .read-time {
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1em;
    color: $text-color-accent;

    .icon-timer {
      display: inline-block;
      fill: currentColor;
      margin-bottom: 2px;
      margin-right: 0.2em;
      min-width: 16px;
      vertical-align: middle;
    }
  }

  .date {
    display: inline-block;
    color: $text-color-muted;
  }
}
