.posts-list {
  margin-bottom: 2em;

  @include respond-to(medium) {
    margin-bottom: 4em;
  }
}

.posts-heading {
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-size: $font-size-body;

  @include respond-to(small) {
    margin-top: 2.5em;
  }

  @include respond-to(medium) {
    margin-top: 4em;
  }
}

.posts-page-heading {
  border-bottom: 1px solid #eee;
  margin-bottom: 1.5em;
  padding: 2rem 0;
}

.posts {
  font-size: 1.2em;
}
