// pages and posts are all posts 🎶
.post {
  .post-heading {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;

    @include respond-to(small) {
      margin-top: 4em;
    }
  }

  .post-title {
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.25em;
  }

  .post-header-photo {
    width: 100%;
  }

  .post-body {
    font-size: 1.125em; // 18px
    font-family: $font-primary;
    margin-top: 0;
    margin-bottom: 3em;
  }

  .post-metadata {
    font-size: 0.9em;

    .read-time {
      text-transform: uppercase;
      cursor: pointer;
      display: inline-block;
      margin-right: 1em;
      color: #555;

      .icon-timer {
        display: inline-block;
        margin-bottom: 2px;
        min-width: 16px;
        vertical-align: middle;
      }

      &:hover:before {
        content: 'd';
      }
    }

    .date {
      display: inline-block;
      color: #999;
    }
  }

}

section.post {
  margin-top: 0;
}
