
.section {
  position: relative;
  padding-top: 6em;
  padding-bottom: 6em;
  background: linear-gradient(to bottom, #fff 0%, #f3f3f3 100%);
}

.section-with-border {
  border-bottom: 1px solid #eee;
}

.section-gray {
  background: #f2f3f3;
}

.section-white {
  background: #fff;
}

.section-heading {
  text-transform: uppercase;
  margin-bottom: 0;
}

/* main, centered heading */
.section-heading-lg {
  font-size: 2.8em;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 0.25em;
  margin-top: 0;
}

.section-subheading {
  font-family: $font-serif;
  font-size: 1.6875em;
  text-align: center;
}

.section-bullet-heading {
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.section-bullet-subheading {
  font-family: $font-serif;
  font-size: 1.5em;
}

.section-btn {
  display: inline-block;
  margin: 1em auto 0;
}

.section .p {
  margin-bottom: 2em;
}

.section-img {
  display: block;
  margin: 1em auto;
  width: 70%;
}

.section-side-img {

}



.section-macbook-img {
  position: absolute;
  background-size: cover;
  bottom: 0;
  width: 100%;
  height: 500px;

  @include respond-to(medium) {
    width: 50%;
    height: 674px;
  }
}

.section-macbook-img-small {
  @extend .section-macbook-img;

  @include respond-to(medium) {
    width: 50%;
    height: 460px;
  }
}

.section-macbook-img-right {
  @extend .section-macbook-img;
  right: 0;
}

.section-macbook-img-left {
  @extend .section-macbook-img;
  left: 0;
  background-position-x: right;
}

.section-img-digest {
  background-image: image-url('mac-brainspace-digest@2x.gif');
}


/** Styles for specific sections **/

.section-discover {

  .section-content {
    @include respond-to(medium) {
      min-height: 600px;
    }
  }

  @include respond-to(0, medium) {
    padding-bottom: 516px;
  }
}

.section-collect, .section-share {

  .section-content {
    @include respond-to(medium) {
      min-height: 420px;
    }
  }

  @include respond-to(0, medium) {
    padding-bottom: 516px;
  }
}

.section-content-short {
  padding-top: 3em;
}