h1,
h2,
h3,
h4 {
  font-family: var(--font-family-heading);
  font-weight: 800;
}

h1,
.h1 {
  font-size: 3.285em;

  &.post-title {
    font-size: 2.5em
  }
}

h2,
.h2 {
  font-size: 1.7em;
  margin-bottom: 0.4em;
}

h3,
.h3 {
  font-size: 1.5em;
  line-height: 1.3;
  margin-top: 1.7em;
  margin-bottom: 0.667em;
}

h4,
.h4 {
  font-size: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.65em;
}

p {
  line-height: 1.7;
  margin: 0;
  margin-bottom: 1em;
}

.p {
  font-size: var(--font-size-body);
}

.code,
.markdown code {
  font-size: 0.9em;
  background-color: #f5f5f5;
  padding: 0.2em;
}

blockquote {
  padding-left: 1em;
  margin-left: 0;
  border-left: 5px solid #e8e8e8;
  line-height: 1.7;
}

.p-small {
  @extend .p;
  font-size: 1.286em;
  margin-top: 1em;
}

.highlight {
  background-color: #f3f3f3;
}

.highlight-primary {
  background-color: var(--color-primary);
  color: #fff;
}

a {
  color: var(--link-color);
  transition: color 50ms linear;

  &:hover {
    color: var(--link-color-hover);
    text-decoration: none;
  }

  &:active,
  &:focus {
    color: var(--link-color-hover);
  }
}

.markdown a,
.post-excerpt-body a,
.text-link {
  border-bottom: 1px solid var(--border-subtle);
  transition: color 25ms, border-bottom-color 150ms;

  &:hover {
    border-bottom-color: var(--link-color-hover);
    color: var(--link-color-hover);
    text-decoration: none;
  }
}

.arrow-link {
  svg {
    margin-bottom: -0.25em;
    fill: var(--link-color);
    font-size: 1.3em;
    transition: fill 25ms linear;
  }

  &:hover svg {
    fill: var(--link-color-hover);
  }
}

.link-primary {
  color: var(--color-primary);
}

.footnotes {
  font-size: 0.8em;

  ol {
    padding-left: 1.6rem;
  }

  li p {
    margin-bottom: 0.3em;
  }
}
