h1,
h2,
h3,
h4 {
  font-family: $font-heading;
}

h1 {
  font-size: 3.285em;
  font-weight: 100;
}

h2 {
  font-size: 2.5em;
  font-weight: 600;
}

h3 {
  font-size: 1.55em;
  line-height: 1.3;
  margin-top: 1.7em;
  margin-bottom: 0.667em;
}

h4 {
  font-size: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.65em;
}

p {
  line-height: 1.8;
  margin: 0;
  margin-bottom: 1.5em;
}

.p {
  font-size: 1.5625em;
}

.code,
.markdown code {
  font-size: 0.9em;
  background-color: #f5f5f5;
  padding: 0.2em;
}

blockquote {
  padding-left: 1em;
  margin-left: 0;
  border-left: 5px solid #e8e8e8;
  line-height: 1.7;
}

.p-small {
  @extend .p;
  font-size: 1.286em;
  margin-top: 1em;
}

.highlight {
  background-color: #f3f3f3;
}

.highlight-primary {
  background-color: $color-primary;
  color: #fff;
}

a {
  color: $link-color;
  transition: color 50ms linear;

  &:hover {
    color: $color-primary;
    text-decoration: none;
  }

  &:active,
  &:focus {
    color: darken($link-color, 10%);
  }
}

.markdown a,
.post-excerpt-body a,
.text-link {
  border-bottom: 1px solid #eee;
  transition: color 25ms linear, border-bottom-color 50ms linear;

  &:hover {
    border-bottom-color: $link-color-hover;
    color: $link-color-hover;
    text-decoration: none;
  }
}

.arrow-link {
  svg {
    margin-bottom: -0.25em;
    fill: $link-color;
    font-size: 1.3em;
    transition: fill 25ms linear;
  }

  &:hover svg {
    fill: $link-color-hover;
  }
}

.link-primary {
  color: $color-primary;
}

.link-secondary {
  color: $color-secondary;
}

.heading-link {
  color: $text-color;
  position: relative;
  text-decoration: none;
  z-index: 1;

  &__domain {
    margin-left: 0.3em;
    font-size: 0.7em;
    color: $text-color-muted;
    font-family: bitter;
  }

  &:after {
    background-color: rgba($color-primary, 0.4);
    bottom: 6px;
    content: '';
    height: 0;
    left: 0;
    padding-bottom: 0;
    position: absolute;
    transition: height 50ms linear;
    width: 100%;
    z-index: -1;
  }

  &:hover {
    &:after {
      height: 6px;
    }
  }
}

.announcement-text {
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
  max-width: 930px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include respond-to(medium) {
    font-size: 3em;
  }

  @include respond-to(large) {
    font-size: 3em;
  }
}

.footnotes {
  font-size: 0.8em;

  ol {
    padding-left: 1.6rem;
  }

  li p {
    margin-bottom: 0.3em;
  }
}
