<% wrap_layout :layout do %>
  <section class="page">
    <div class="container container-xs">
      <article class="post">
        <% unless current_page.data.hide_title %>
          <h3 class="post-title"><%= current_page.data.title %></h3>
        <% end %>
        
        <div class="post-body">
          <%= yield %>
        </div>
      </article>
    </div>
  </section>
<% end %>