<nav id="nav" class="nav">
  <div class="container">

    <%= link_to "Stephen Hanson", '/', class: 'nav-title'  %>

    <div class="nav-mobile-menu-toggle">
      <div class="icon-menu"></div>
      <div class="icon-close"></div>
    </div>

    <ul class="nav-links">
      <!--li class="nav-link"><a href="/tech">Tech</a></li>
      <li class="nav-link"><a href="/personal">Life</a></li>
      <li class="nav-link"><span class="separator">&nbsp;</span></li-->
      <li class="nav-link"><a href="/">Posts</a></li>
      <li class="nav-link"><a href="/about">About</a></li>
      <li class="nav-link login-nav-link">
        <a href="http://twitter.com/stephenhanson" class="link-primary">Follow me</a>
      </li>
    </ul>

    <!--[if lt-IE10]>
      <div class="clearfix"></div>
      <p class="browsehappy">Oh shoot. I don't support your version of Internet Explorer. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  </div>
</nav>
