<nav id="nav" class="nav">
  <div class="container">
    <%= link_to "Stephen Hanson", '/', class: 'nav-title'  %>

    <button class="nav-mobile-menu-toggle" aria-label="Navigation" aria-haspopup="true" aria-expanded="false">
      <%= inline_svg "ionicons/ios-menu.svg", class: "icon-menu" %>
      <%= inline_svg "ionicons/ios-close.svg", class: "icon-close" %>
    </button>

    <ul class="nav-links">
      <!--li class="nav-link"><a href="/tech">Tech</a></li>
      <li class="nav-link"><a href="/personal">Life</a></li>
      <li class="nav-link"><span class="separator">&nbsp;</span></li-->
      <li class="nav-link"><a href="/">Posts</a></li>
      <li class="nav-link"><a href="/about">About</a></li>
      <li class="nav-link login-nav-link">
        <a href="http://twitter.com/stephenhanson" class="link-primary">Follow me</a>
      </li>
    </ul>

    <!--[if lt-IE10]>
      <div class="clearfix"></div>
      <p class="browsehappy">Oh shoot. I don't support your version of Internet Explorer. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  </div>
</nav>
