<nav id="nav" class="nav">
  <div class="container container-small">
    <%= link_to "Stephen Hanson", '/', class: 'nav-title'  %>
    <a href="#main" class="btn btn-default skip-nav">Skip to Content</a>

    <ul class="nav-links">
      <!--li class="nav-link"><a href="/tech">Tech</a></li>
      <li class="nav-link"><a href="/personal">Life</a></li>
      <li class="nav-link"><span class="separator">&nbsp;</span></li-->
      <li class="nav-link"><a href="/about">About Me</a></li>
    </ul>
  </div>
</nav>
