<div class="container container-xs markdown posts">
  <h2>What's been on my mind</h2>
  <p>
    I don't write on here as often as I'd like. When I write or speak externally, I try to
    remember to post a link out from here. I also occasionally write about woodworking
    or personal topics.
  </p>

  <% %w(tech woodworking personal).each do |category| %>
    <%= partial(
      "partials/posts_category_listing",
      locals: {
        category_articles: articles_for_tag(blog.articles, category),
        category: category
      }
    ) %>
  <% end %>
</div>
