<div class="container container-xs markdown posts">
  <h2>Writings</h2>
  <p>I write infrequently about tech, woodworking, and anything else that comes to mind.</p>

  <% %w(tech woodworking personal).each do |category| %>
    <%= partial(
      "partials/posts_category_listing",
      locals: {
        category_articles: articles_for_tag(blog.articles, category),
        category: category
      }
    ) %>
  <% end %>
</div>
