.admin-editor {
  position: relative;
}

.editor-left {
  width: 4em;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 3em;
  padding-left: 2em;
  color: #aaa;
  z-index: 10;

  [class^="icon"] {
    margin-bottom: 1.75em;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $text-color;
    }
  }
}

.editor-content {
  height: 100%;
  width: 100%;
  position: relative;
  max-width: 700px;
  margin-left: 5em;
  padding: 1em 1em 0;

  textarea {
    height: 100%;
  }
}

.editor-title {
  font-size: 3em;
}

.editor-body {
  border:none;
  min-height: 400px;
  font-size: 18px;
}

.markdown-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.editor-footer {
  background: #fff;

  padding: 0.8em 0 0.8em 5em;
  width: 100%;
  border-top: 1px solid #eee;

  &.is-fixed {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .btn-default {
    margin-left: 1em;
  }
}