.admin-editor {
  position: relative;
}

.editor-left {
  width: 4em;
  padding-top: 3em;
  padding-left: 2em;
  color: #aaa;
  z-index: 10;

  [class^="icon"] {
    margin-bottom: 1.75em;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $text-color;
    }
  }
}

.editor-content {
  display: flex;
  flex-flow: column;
  flex: 1;
  max-width: 700px;
  padding: 1em 1em 0;

  textarea {
    flex: 1;
  }
}

.editor-title {
  font-size: 3em;
  font-weight: 700;
}

.editor-body {
  border:none;
  min-height: 400px;
  font-size: 18px;
}

.markdown-preview {
  overflow: scroll;
  .post-title {
    margin-top: 0.3em;
  }
}

.editor-footer {
  background: #fff;

  padding: 0.8em 0 0.8em 5em;
  width: 100%;
  border-top: 1px solid #eee;

  &.is-fixed {

  }

  .btn-default {
    margin-left: 1em;
  }
}