.post-options {
  background: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5em;
  width: 100%;
  transition: all 0.1s ease-in;
  opacity: 1;
  visibility: visible;

  &.inactive {
    opacity: 0;
    visibility: hidden;
  }
}

.admin-posts-list {
  h4 {
    .muted {
      font-size: 0.7em;
      color: #888;
      font-weight: 600;
      margin-left: 0.5em;
      text-transform: uppercase;
    }
  }
}

.posts-list-grouping {
  padding: 0.4em 1.6em;
  background: #eee;
  font-family: $font-sans;
  font-size: 0.85em;
  font-weight: 600;
  text-transform: uppercase;
}