@import 'form';
@import 'editor';
@import 'layout';



.admin-list-title {
  font-weight: 800;
  font-size: 1.4em;
  margin-top: 1em;
  margin-left: 0.714em;
  text-transform: uppercase;
}

.admin-posts-list {

}

.admin-posts-list-item {
  padding: 1em;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #fafafa;
  }

  &.active {
    border-left: 2px solid #333;
  }

  h4 {
    font-weight: 400;
    font-size: 1.25em;
    margin: 0;
  }

  p {

  }
}

.admin-new-btn {
  margin-right: 1em;
  margin-top: 1.5em;
}