@import 'form';
@import 'icons';
@import 'editor';
@import 'layout';
@import 'new';
@import 'posts';

.admin-list-title {
  font-size: 1.4em;
  margin-top: 1em;
  margin-left: 0.714em;
  text-transform: uppercase;
}

.admin-posts-list {

}

.admin-posts-list-item {
  border-left: 2px solid transparent;
  display: block;
  color: $text-color;
  padding: 1em;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s, border-left-color 0.2s;

  &:hover, &.active {
    background-color: #fafafa;
    color: $text-color;
    text-decoration: none;
  }

  &.active {
    border-left-color: $text-color;
  }

  h4 {
    font-size: 1.15em;
    line-height: 1.2;
    margin: 0;
  }

  p {

  }
}

.admin-new-btn {
  margin-right: 1em;
  margin-top: 1.4em;
}