input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #f1f1f1;
  font-weight: 400;
  color: $text-color;
  padding: 0.7em 0.2em;
  //margin-bottom: 2em;
  font-size: 1em;

  @include placeholder {
    color: #666;
    font-family: $font-primary;
    font-weight: 300;
  }

  &:focus {
    outline: 0;
    background: none;
  }
}

.form-group {
  margin: 1em 0 2em;

  label {
    display: block;
    margin-bottom: 0.2em;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    display: block;
    width: 70%;
    max-width: 100%;
    background: #f8f9fa;
    border-bottom: 2px solid #888;
    padding: 0.2em 0.2em;

    &:focus {
      outline: 0;
      border-bottom: 2px solid #1883AE;
      background: rgba(#B2E1F5, 0.2);
    }
  }
}
