
$font-sans: "PT Sans", sans-serif;
$font-serif: "Bitter", serif;

$font-primary: $font-serif;
$font-heading: $font-sans;

$color-primary: #0ae;
$color-secondary: darken($color-primary, 20%);

$color-light-gray: #ebebeb;
$color-blue-gray: #54646e;
$color-dark-gray: #022c3a;
$color-darkest-gray: #011f29;

$text-color: #333;
$text-color-accent: #54646e;

$light-gray-bg-color: #f8f8f8;

$color-footer: #222;