.four-oh-four {
  margin-top: 6em;
}

.four-oh-four-title {
  text-align: center;
}

.four-oh-four-body {
  text-align: center;
}

.four-oh-four-button {
  display: block;
  font-size: 1em;
  margin: 3em auto;
  text-align: center;
  width: 200px;
}