@keyframes fadeIn {
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}

.fade-in {
  opacity:0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
}

.fade-in-first {
  @extend .fade-in;
}

.fade-in-second {
  @extend .fade-in;
  animation-delay: 0.9s;
}

.fade-in-third {
  @extend .fade-in;
  animation-delay: 1.3s;
}

.animation-slow {
  animation-duration: 1s !important;
}

@keyframes fadeOut {
  from {
    opacity:1;
  } to {
    opacity:0;
  }
}

.fade-out {
  opacity:0;
  animation: fadeOut ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 0.25s;
}

.fade-out-first {
  @extend .fade-out;
  animation-delay: 0.5s;
}

.fade-out-second {
  @extend .fade-out;
  animation-delay: 0.9s;
}

.fade-out-third {
  @extend .fade-out;
  animation-delay: 1.3s;
}

@keyframes slideDownAndFadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  opacity: 0;
  transform: translateY(-10px);
  animation: slideDownAndFadeIn linear 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
}

.slide-down-third {
  @extend .slide-down;
  animation-delay: 1.3s;
}

