.footer  {
  padding: 2em 0 2em;
  background: $color-footer;
  color: #f5f5f5;
}

.footer-left-columns {
  width: 100%;

  &:after {
    content: '';
    clear: both;
    display: block;
  }

  @include respond-to(small) {
    float: left;
    max-width:  750px;
  }
}

.footer-column-1-4 {

  width: 100%;

  @include respond-to(small) {
    float: left;
    width: 25%;
    padding-right: 1em;

    &:last-of-type {
      margin-right: -1em;
    }
  }

}

.footer-right {
  float: right;
  font-size: 1.787em;
  text-transform: uppercase;
  font-weight: 400;
}

.footer-column-title {
  margin-top: 0;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}

.footer-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;

  > li {

    margin-bottom: 0.25em;

    a {
      font-size: 1.32em;
      text-transform: uppercase;
      color: #596a6f;

      &:hover {
        text-decoration: none;
      }
    }

  }
}