.footer  {
  padding: 2em 0 2em;
  background: $color-footer;
  color: #f5f5f5;


  .icon-heart {
    font-size: 0.9em;
    margin-left: 0.15em;
    margin-right: 0.15em;
  }
}

.footer-msg {
  font-weight: 600;
}