.footer  {
  padding: 2em 0 2em;
  background: $color-footer;
  background: #f5f5f5;
  color: #666;
  font-family: $font-sans;

  .icon-heart {
    font-size: 0.9em;
    margin-left: 0.15em;
    margin-right: 0.15em;
  }
}

.footer-msg {
  display: none;
  @include respond-to(380px) {
    display: block;
    float: left;
  }
}

.footer-social {
  text-align: center;

  @include respond-to(380px) {
    float: right;
  }


  a {
    color: #666;
  }
}