.posts-list {
  background-color: #fff;
  @include animate('fadeIn', 0.7s, 1.8s, 'linear');
}

.posts-heading {
  padding: 2em 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 1.5em;
  font-size: 1em;
  text-align: center;

  @include respond-to(340px) {
    font-size: 1.1em;
  }

  @include respond-to(small) {
    text-align: left;
  }
}

.index-page {
  background-color: #fff;
}