<article class="post-excerpt">
  <h3 class="post-excerpt-title">
    <% link_to article.data.target, class: "heading-link" do %>
      <%= article.title %>
      <span class="heading-link__domain">
        <%= article_source(article.data.target) %>
      </span>
    <% end %>
  </h3>

  <div class="post-excerpt-body">
    <p><%= article_summary(article) %></p>
  </div>

  <div class="post-excerpt-metadata">
    <div class="date"><%= human_date(article.date) %></div>
  </div>
</article>
