<section class="post">

  <div class="container container-xs">

    <article class="post">
      <h3 class="post-title"><%=@post.title%></h3>
      <div class="post-metadata">
        <div class="read-time">4 min read</div>
        <div class="date"><%= @post.published_at %></div>
      </div>
      <div class="post-body"><%= markdown(@post.body) %></div>
    </article>

  </div>

</section>


<div class="heart">
  <div class="icon-heart"></div>
</div>