---
title: 404
hide_title: true
layout: page
---

<section class="four-oh-four">
  <div class="container container-xs">
    <h3 class="four-oh-four-title">Oh, uh.. there’s nothing here</h3>
    <div class="four-oh-four-body">
      It’s kind of nice and quiet here though, isn’t it?
    </div>
    <a href="/" class="btn four-oh-four-button">Take me home, anyway</a>
  </div>
</section>
