---
title:
pageable: true
per_page: 10
---

<div class="index-page">
  <% unless defined?(prev_page) && prev_page # only show on first page of posts %>
    <header class="hero hero-main">
      <div class="hero-container container container-xs">
        <div class="hero-text-container">
          <h2 class="hero-title highlight-primary">Hello, i’m <span class="shanson">shanson</span></h2>

          <div class="hero-text">
            <p>I’m glad you’re here, friend.</p>
          </div>
        </div>

        <%= image_tag("me.jpg", class: "avatar", alt: "Picture of shanson") %>
      </div>
    </header>
  <% end %>

  <section class="posts-list">
    <% if defined?(prev_page) && prev_page %>
        <div class="container container-xs">
          <h3 class="posts-page-heading">
            Posts &ndash; page <%= page_number %>
          </h3>
        </div>
      </h3>
    <% else %>
      <div class="posts-heading">
        <div class="container container-xs">
          Welcome to my corner of the interwebs! Check out my thoughts below, or <%=link_to "get to know me", "about", class: "text-link" %>.
        </div>
      </div>
    <% end %>

    <%= partial 'partials/posts_listing' %>
  </section>
</div>
