---
title:
---

<% content_for :skip_main_id, "true" %>

<div class="index-page">
  <section class="posts-list" id="main">
    <% if defined?(prev_page) && prev_page %>
        <div class="container container-xs">
          <h3 class="posts-page-heading">
            Posts &ndash; page <%= page_number %>
          </h3>
        </div>
      </h3>
    <% else %>
      <div class="posts-heading markdown">
        <div class="container container-xs">
          <p class="mb0">
            Hi, thanks for stopping by 👋. I'm Stephen, an Austin-based web and
            mobile developer. I work at <a
            href="https://thoughtbot.com">thoughtbot</a>, where I help bring new
            ideas to life for companies of all shapes and sizes. My current
            tools of the trade are React, React Native, and Rails.
          </p>
        </div>
      </div>
    <% end %>

    <%= partial 'partials/posts_listing' %>
  </section>
</div>
