---
pageable: true
per_page: 12
---
<div class="post-list-page">
  <div class="container container-xs">
    <h2><%= tagname.humanize.titleize %></h2>
  </div>

  <section class="posts-list">
    <%= partial 'partials/posts_listing.html.erb' %>
  </section>
</div>
