---
pageable: true
per_page: 12
---
<div class="post-list-page">
  <div class="container container-xs">
    <section class="posts-list markdown">
      <%= partial(
        "partials/posts_category_listing",
        locals: {
          category_articles: articles_for_tag(blog.articles, tagname),
          category: tagname
        }
      ) %>
    </section>
  </div>

</div>
