$font-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Arial', sans-serif;
$font-heading: 'PT Sans', 'Arial', sans-serif;

$background-color: #f3f2f1;
$font-size-body: 1.2em;
$font-size-body-sm: 0.85em;
$font-size-heading: 1.75em;
$color-primary: #d42b2b;

$color-light-gray: #ebebeb;
$color-blue-gray: #54646e;
$color-dark-gray: #022c3a;
$color-darkest-gray: #011f29;

$color-danger: tomato;

$text-color: #353538;
$text-color-accent: #54646e;
$text-color-muted: #75757a;

$link-color: darken($color-primary, 6%);
$link-color-hover: $color-primary;
//$link-color: #08b;

$light-gray-bg-color: #f8f8f8;

$color-footer: #f5f5f5;
