:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Arial',
    sans-serif;
  --font-family-heading: var(--font-family);
  --font-size-body: 1.2em;
  --font-size-body-sm: 0.85em;
  --font-size-heading: 1.75em;

  // also update meta theme-color in layout.erb
  --background-color: #f3f2f1;
  --background-accent: #{darken(#f3f2f1, 3%)};
  --border: #533;
  --border-subtle: #{darken(#f3f2f1, 15%)};
  --text-color: #353538;
  --text-color-muted: #555;
  --color-primary: #de6202;
  --link-color: #{darken(#de6202, 6%)};
  --link-color-hover: var(--color-primary);
  --link-color-focus: var(--color-primary);
  --color-danger: var(--color-primary);

  @media (prefers-color-scheme: dark) {
    // also update meta theme-color in layout.erb
    --background-color: #252527;
    --background-accent: var(--background-color);
    --border: #68686b;
    --border-subtle: #68686b;
    --text-color: #cdcdcf;
    --text-color-muted: var(--text-color);
    --color-primary: #ffcf6e;
    --link-color: #f5d490;
    --link-color-focus: #{darken(#ffcf6e, 8%)};
    --link-color-hover: #{lighten(#ffcf6e, 2%)};
    --color-danger: tomato;
  }
}
